/* alignment */
.u-tac {
	text-align: center;
}
.u-tal {
	text-align: left;
}
.u-tar {
	text-align: right;
}
@include mq {
	.u-tac--pc {
		text-align: center;
	}
	.u-tal--pc {
		text-align: left;
	}
	.u-tar--pc {
		text-align: right;
	}
}