/* widget
----------------------------- */
.widget {
  text-align: center;
  margin-bottom: 50px;
}

.widget_archive,
.widget_categories {
  ul {
    border-bottom: 1px dotted;
  }

  li {
    border-top: 1px dotted;
    padding: 10px 0;
  }
}

.p-widget__header {
  height: 130px;
}

.p-widget__title {
  position: relative;
  padding-top: 20px;
  @include en;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: auto;
    height: 5px;
    width: 30%;
    background-color: $subColor;
  }
}

.p-widget__link-rp {
  display: block;
  transition: .5s;

  &:hover {
    opacity: .7;
  }
}

.p-widget__img-rp {
  width: 100%;
  height: 140px;
}

.p-widget__title-rp {
  font-weight: normal;
  margin-top: 10px;
  line-height: 1.3;
}

.p-widget__date-rp {
  margin-bottom: 30px;
  display: block;
  @include rem(14);
  @include en;
}
