/* button */
.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  height: 60px;
  color: #fff;
  background-color: $mainColor;
  @include arrow;
  @include arrow-rr;
  @include mq {
    transition: 0.5s;
    &:hover {
      opacity: 0.5;
    }
  }
  input {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    &[disabled] {
      opacity: 0.5;
    }
  }
}
