/* button */
@use 'foundation/setting' as s;
@use 'foundation/mixin' as m;

.c-btn {
	display: inline-block;
	//   display: flex;
	//   align-items: center;
	//   justify-content: center;
	text-align: center;
	width: 100%;
	max-width: 300px;
	padding: 10px 20px;
	border: 2px solid transparent;
	color: #fff;
	background-color: s.$mainColor;
	transition: 0.5s;
	@include m.arrow;
	@include m.arrow-rr;
	@include s.mq {
		&:hover,
		&:focus {
			outline: none;
			border-color: currentColor;
			background-color: #fff;
			color: s.$mainColor;
			&::after {
				border-color: currentColor;
			}
		}
	}
	input {
		width: 100%;
		height: 100%;
	}
}
.c-btn--disabled {
	opacity: 0.5;
}
.c-btn--full {
	max-width: 100%;
}

.c-btn--ext {
	padding: 10px calc(1em + 15px);
	&::after {
		content: "\f35d";
		font-family: FontAwesome;
		border: none;
		transform: rotate(0);
		line-height: 1em;
		width: 1em;
		height: 1em;
	}
}
