@use 'foundation/setting' as s;
@use 'foundation/mixin' as m;

.c-pagenavi {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.c-pagenavi__link {
	color: #fff;
	background-color: #000;
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	transition: 0.5s;
	border-radius: 50%;
	&.is-current,
	&:hover {
		color: #fff;
		background-color: s.$mainColor;
	}
}
.c-pagenavi__arrow {
	width: 28px;
	height: 38px;
	display: block;
	position: relative;
	background-color: transparent;
	@include m.arrow(s.$mainColor, 13px, 3px);
	@include m.arrow-ll(0);
}
.c-pagenavi__arrow--next {
	margin: 0;
	&::after {
		transform: rotate(45deg);
		right: 0;
		left: inherit;
	}
}
