/* table */
.c-caption {
    color: #FFF;
    background-color: $mainColor;
}

.c-table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
        padding: 5px;
        // word-break: break-all;
        border-bottom: 1px solid;
        @include mq {
            padding: 10px;
        }
    }
    th {
        text-align: left;
        background-color: #ccc;
        @include mq {
            vertical-align: top;
            white-space:nowrap;
            padding-right: 10px;
        }
    }
}
.c-table--resp {
    th,
    td {
        display: block;
    }
    @include mq {
        th,
        td {
            display: table-cell;
        }
    }
}
.c-table__wrap {
 overflow-x: auto;
 white-space: nowrap;
 @include mq {
     white-space: normal;
 }
 @include mq {
     overflow-x: hidden;
 }
 &::-webkit-scrollbar{
     height: 10px;
 }
 &::-webkit-scrollbar-track{
     background: lighten($mainColor,40%);
 }
 &::-webkit-scrollbar-thumb {
     background: $mainColor;
 }
 &>.c-table {
     margin-bottom: 20px;
     @include mq {
         margin: 0;
     }
 }
}

