/* table */
@use 'foundation/setting' as s;
@use 'foundation/mixin' as m;

.c-caption {
	color: #fff;
	background-color: s.$mainColor;
}

.c-table {
	width: 100%;
	border-collapse: collapse;
	border: solid s.$bdrColor;
	border-width: 1px 1px 0 0;
	// -webkit-overflow-scrolling: touch;
	dl {
		width: 100%;
		@include s.mq {
			display: flex;
		}
	}
	th,
	td,
	> dl dt,
	> dl dd {
		padding: 5px;
		// word-break: break-all;
		border: 1px solid s.$bdrColor;
		border-width: 0 0 1px 1px;
		@include s.mq {
			padding: 10px;
		}
	}
	> dl dt {
		width: 30%;
	}
	> dl dd {
		width: 70%;
	}
	th,
	> dl dt {
		text-align: left;
		background-color: s.$bgColor;
		@include s.mq {
			vertical-align: top;
			white-space: nowrap;
		}
	}
}
.c-table--resp {
	th,
	td {
		display: block;
	}
	@include s.mq {
		th,
		td {
			display: table-cell;
		}
	}
	> dl dt {
		width: 100%;
		@include s.mq {
			width: 30%;
		}
	}
	> dl dd {
		width: 100%;
		@include s.mq {
			width: 70%;
		}
	}
}
.c-table__wrap {
	overflow-x: auto;
	white-space: nowrap;
	@include s.mq {
		white-space: normal;
	}
	@include s.mq {
		overflow-x: hidden;
	}
	&::-webkit-scrollbar {
		height: 10px;
	}
	&::-webkit-scrollbar-track {
		background: lighten(s.$mainColor, 40%);
	}
	&::-webkit-scrollbar-thumb {
		background: s.$mainColor;
	}
	& > .c-table {
		margin-bottom: 20px;
		@include s.mq {
			margin: 0;
		}
	}
	.c-table__sticky {
		position: sticky;
		left: 0;
		@include s.mq {
			position: inherit;
			left: inherit;
		}
	}
}
