// /* page-header */
@use '../../foundation/setting' as s;
@use '../../foundation/mixin' as m;

.c-title-page {
	background-color: s.$subColor;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.2;
	@include m.rem(18);
	font-weight: bold;
	height: 135px;
}

/* common titles */
.c-title-lv2 {
	margin: 60px 0 30px;
	border-bottom: 1px solid;
}
