// /* toggle panel */
@use '../../foundation/setting' as s;
@use '../../foundation/mixin' as m;

.c-toggle {
	background-color: s.$mainColor;
	color: #fff;
}
.c-toggle__title {
	text-align: center;
	padding: 10px 20px;
	display: block;
	width: 100%;
	// cursor: pointer;
	@include m.arrow;
	@include m.arrow-rd;
	&.is-open {
		&::after {
			transform: rotate(-45deg);
		}
	}
}
.c-toggle__txt {
	display: none;
	padding: 10px;
}
