<%- include('_common/_head', {page:json['home']}); %>
<%- include('_common/_header'); %>

            <div class="main_visual">
                <div class="main_visual_inner">
                    <img src="http://placehold.it/980x520" height="520" width="980" alt="">
                </div>
            </div>

            <div class="contents">
                <div class="contents_inner">
                    <div class="main"></div>
                    <aside class="side"></aside>
                </div>
            </div>

<%- include('_common/_footer'); %>
