<%
var absolutePath = filename.split('src\\')[filename.split('src\\').length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('\\').length -2]);
var pathData = {
	absolutePath: absolutePath,
	relativePath: relativePath
}; %><%- include(pathData.relativePath + '_inc/_header', {page:json['home']},{path: pathData}); %>

<div class="l-contents l-flex l-flex--between">
	<div class="l-main">
		<h2 class="c-title-lv2">c-title-lv2</h2>
		<div class="p-entry__content">
			<h2>h2</h2>
			<h3>h3</h3>
			<h4>h4</h4>
			<h5>h5</h5>
		</div>

		<h2 class="c-title-lv2">flex equal grid</h2>
		<div class="l-egrid demo">
			<div class="l-egrid__col2">l-egrid__col2</div>
			<div class="l-egrid__col2">l-egrid__col2</div>
		</div>
		<div class="l-egrid demo">
			<div class="l-egrid__col1 l-egrid__col2--md">l-egrid__col1 l-egrid__col2--md</div>
			<div class="l-egrid__col1 l-egrid__col2--md">l-egrid__col1 l-egrid__col2--md</div>
		</div>
		<div class="l-egrid demo">
			<div class="l-egrid__col3">l-egrid__col3</div>
			<div class="l-egrid__col3">l-egrid__col3</div>
			<div class="l-egrid__col3">l-egrid__col3</div>
		</div>
		<div class="l-egrid demo">
			<div class="l-egrid__col4">l-egrid__col4</div>
			<div class="l-egrid__col4">l-egrid__col4</div>
			<div class="l-egrid__col4">l-egrid__col4</div>
			<div class="l-egrid__col4">l-egrid__col4</div>
		</div>
		<div class="l-egrid demo">
			<div class="l-egrid__col2">l-egrid__col2</div>
			<div class="l-egrid__col4">l-egrid__col4</div>
			<div class="l-egrid__col4">l-egrid__col4</div>
		</div>
		<h2 class="c-title-lv2">flex grid</h2>
		<div class="l-grid demo">
			<div class="l-grid__col12 l-grid__col1--md">l-grid__col12 l-grid__col1--md</div>
			<div class="l-grid__col12 l-grid__col2--md">l-grid__col12 l-grid__col2--md</div>
			<div class="l-grid__col12 l-grid__col3--md">l-grid__col12 l-grid__col3--md</div>
			<div class="l-grid__col12 l-grid__col4--md">l-grid__col12 l-grid__col4--md</div>
			<div class="l-grid__col12 l-grid__col5--md">l-grid__col12 l-grid__col5--md</div>
			<div class="l-grid__col12 l-grid__col6--md">l-grid__col12 l-grid__col6--md</div>
			<div class="l-grid__col12 l-grid__col7--md">l-grid__col12 l-grid__col7--md</div>
			<div class="l-grid__col12 l-grid__col8--md">l-grid__col12 l-grid__col8--md</div>
			<div class="l-grid__col12 l-grid__col9--md">l-grid__col12 l-grid__col9--md</div>
			<div class="l-grid__col12 l-grid__col10--md">l-grid__col12 l-grid__col10--md</div>
			<div class="l-grid__col12 l-grid__col11--md">l-grid__col12 l-grid__col11--md</div>
			<div class="l-grid__col12 l-grid__col12--md">l-grid__col12 l-grid__col12--md</div>
		</div>

	</div>
	<aside class="l-side">l-side</aside>
</div>

<%- include(pathData.relativePath + '_inc/_footer',{path: pathData}); %>
