<%
var absolutePath = filename.split('src\\')[filename.split('src\\').length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('\\').length -2]);
var pathData = {
	absolutePath: absolutePath,
	relativePath: relativePath
}; %><%- include(pathData.relativePath + '_inc/_header', {page:json['home']},{path: pathData}); %>

<div class="l-contents l-flex l-flex--between">
	<div class="l-main">
		<h2 class="c-title-lv2">c-title-lv2</h2>
		<div class="p-entry__content">
			<h2>h2</h2>
			<h3>h3</h3>
			<h4>h4</h4>
			<h5>h5</h5>
		</div>
	</div>
	<aside class="l-side">l-side</aside>
</div>

<%- include(pathData.relativePath + '_inc/_footer',{path: pathData}); %>
