/* contents layout */
.l-contents {
  width: $contentWidthSP;
  margin: 0 auto;
  max-width: $contentWidth;
  position: relative;
}

.l-contents_inner {
  width: $contentWidth;
  margin: 0 auto;
  overflow: hidden;
}
