/* flex layout */
.l-flex {
    display: flex;
}

.l-flex--center {
    justify-content: center;
    align-items: center;
}

.l-flex--end {
    justify-content: flex-end;
}

.l-flex--between {
    justify-content: space-between;
}

@include mq {
  .l-flex-pc {
    display: flex;
  }

  .l-flex-pc--center {
    justify-content: center;
    align-items: center;
  }

  .l-flex-pc--end {
    justify-content: flex-end;
  }

  .l-flex-pc--between {
    justify-content: space-between;
  }
}