/* grid layout */
.l-egrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.demo {
        &>* {
            background-color: #000;
            color: #fff;
            margin-bottom: 10px;
            padding: 10px;
            text-align: center;

            &[class*="--md"] {
                background-color: blue;
            }

            &[class*="--lg"] {
                background-color: red;
            }

            &[class*="--xl"] {
                background-color: green;
            }
        }
    }
}

@mixin egrid($column-count, $column-margin, $name) {
    $margin-size : #{$column-margin * ($column-count - 1)};

    .l-egrid__col#{$column-count}#{$name} {
        width: calc((100% - #{$margin-size}) / #{$column-count});
    }
}

.l-egrid__col1 {
    width: 100%;
}

@for $colnum from 2 through 4 {
    @include egrid($colnum, 20px, '');

    @include mq {
        //768px~
        @include egrid($colnum, 20px, --md);
    }
}



.l-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	>* {
		padding: 15px;
	}
	&.demo {
		&>* {
			border: 1px solid #fff;
			margin-bottom: 10px;
			padding: 10px;
			color: #fff;
			text-align: center;

			&[class*="--md"] {
				background-color: blue;
			}

			&[class*="--lg"] {
				background-color: red;
			}

			&[class*="--xl"] {
				background-color: green;
			}
		}
	}
}

.l-grid__col1 {width: 8.333333%}
.l-grid__col2 {width: 16.666667%}
.l-grid__col3 {width: 25%}
.l-grid__col4 {width: 33.333333%}
.l-grid__col5 {width: 41.666667%}
.l-grid__col6 {width: 50%}
.l-grid__col7 {width: 58.333333%}
.l-grid__col8 {width: 66.666667%}
.l-grid__col9 {width: 75%}
.l-grid__col10 {width: 83.333333%}
.l-grid__col11 {width: 91.666667%}
.l-grid__col12 {width: 100%}

@include mq {
.l-grid__col1--md {width: 8.333333%}
.l-grid__col2--md {width: 16.666667%}
.l-grid__col3--md {width: 25%}
.l-grid__col4--md {width: 33.333333%}
.l-grid__col5--md {width: 41.666667%}
.l-grid__col6--md {width: 50%}
.l-grid__col7--md {width: 58.333333%}
.l-grid__col8--md {width: 66.666667%}
.l-grid__col9--md {width: 75%}
.l-grid__col10--md {width: 83.333333%}
.l-grid__col11--md {width: 91.666667%}
.l-grid__col12--md {width: 100%}
}
