/* header */
.l-header {
  line-height: 1;
  border-top: 5px solid $footerBg;

  @include mq {
    border-top-width: 30px;
  }
}

.l-header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  @include mq {
    padding: 60px 0;
  }
}

.l-header__logo {
  max-width: 50%;
  margin-right: auto;

  @include mq {
    max-width: inherit;
  }
}

.l-header__logolink {
  @include mq {

    transition: .5s;
    display: block;

    &:hover {
      opacity: .7;
    }
  }
}

// .l-header__logoimg {
//     display: block;
// }

.l-header__tel {
  background-color: $subColor;
  background-image: url(../images/ico_tel.svg);
  background-position: 50%;
  width: 40px;
  height: 40px;
  display: block;

  @include mq {
    background-position: 15px 50%;
    width: auto;
    height: auto;
    padding: 0 20px 0 40px;
    @include en;
    letter-spacing: .08em;
    line-height: 46px;
    @include rem(24);
  }

  span {
    display: none;

    @include mq {
      display: inline;
    }
  }
}

.l-header__menu {
  height: 40px;
  width: 35px;
  position: relative;
  margin-left: 10px;

  @include mq {
    display: none;
  }

  &::after {
    position: absolute;
    bottom: 0;
    content: 'menu';
    @include en;
    text-transform: uppercase;
    display: block;
    width: 100%;
    color: $textColor;
    @include rem(10);
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    transition: .3s;
  }
}

.l-header__menu-item {
  position: absolute;
  width: 100%;
  height: 5px;
  display: block;
  background-color: $textColor;
  border-radius: 3px;
  transition: .3s;
  transform: rotate(0);

  &:nth-of-type(1) {
    top: 2px;
  }

  &:nth-of-type(2) {
    top: 12px;
  }

  &:nth-of-type(3) {
    top: 22px;
  }
}

.l-header__menu.is-open {
  &::after {
    content: 'close';
  }

  .l-header__menu-item:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
  }

  .l-header__menu-item:nth-of-type(2) {
    opacity: 0;
  }

  .l-header__menu-item:nth-of-type(3) {
    transform: translateY(-10px) rotate(45deg);
  }
}
