/* button */
.c-btn {
  display: block;
  width: 100%;
  max-width: 350px;
  line-height: 60px;
  text-transform: capitalize;
  color: #fff;
  background-color: $mainColor;
  text-align: center;
  @include rem(18);
  @include en;
  transition: .5s;

  &:hover {
    opacity: .5;
  }
}