/* button */
.c-btn {
  display: block;
  width: 100%;
  max-width: 350px;
  line-height: 60px;
  text-transform: capitalize;
  color: #fff;
  background-color: $mainColor;
  text-align: center;
  @include rem(18);
  @include en;
  transition: .5s;

  &:hover {
    opacity: .5;
  }
}

.c-btn--yellow {
  text-transform: uppercase;
  color: #000;
  background-color: $subColor;
  margin: 50px auto;

  @include mq {
    margin: 70px auto 170px;
  }
}

.c-btn__inner {
  background-image: url(../images/ico_mail.svg);
  padding-left: 50px;
  background-size: 32px 18px;
  height: 18px;
}
