/* form */
.c-form {
	input[type=text],
	input[type=email],
	input[type=password],
	select,
	textarea {
		border: 1px solid $bdrColor;
		background-color: #fff;
		padding: 10px;
		width: 100%;
		// &.c-form__input-l {
		// 	width: 60%;
		// 	margin-left: 20px;
		// }
		// &.c-form__input-m {
		// 	width: 10em;
		// }
		// &.c-form__input-s {
		// 	width: 5em;
		// }
		&::placeholder {
			color: #999;
		}
	}

	// select {
	// 	width: 5em;
	// }
	// input[type=radio] {
	// 	margin: 0 10px;
	// 	vertical-align: middle;
	// }
	// input[type=checkbox] {
	// 	margin: 0 10px;
	// 	vertical-align: middle;
	// }
}

.c-form__check {
	display: none;
}
.c-form__label {
	padding: 0 30px;
	position:relative;
	&::before{
		background-color: #fff;
	}
}
.c-form__check:checked + .c-form__label::after {
	background-color: $mainColor;
}
.c-form__label::before,
.c-form__check:checked + .c-form__label::after {
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	left: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid  $bdrColor;
}
.c-form__label--radio::before,
.c-form__check:checked + .c-form__label--radio::after{
	border-radius: 50%;
}

// .c-form-list {
// 	display: flex;
// }
// .c-form-list__item {
// 	padding: 0 30px 0 15px;
// }

.c-form-btnlist {
	display: flex;
	justify-content: center;
}
.c-form-btnlist__item {
	margin: 0 10px;
	width: 140px;
  @include arrow;
	@include arrow-rr(85%);
}
.c-form-btnlist__item--back {
	background-color: $subColor;
  @include arrow;
	@include arrow-ll;
}
.c-form-required {
    background-color: $error;
    color: #fff;
    margin-left: 5px;
    padding: 0 5px;
    display: inline-block;
    font-family: sans-serif;
}

.c-form-error {
	input[type=text],
	input[type=email],
	input[type=password],
	select,
	textarea {
		border: 1px solid $error;
	}
}
.c-form-error__msg {
	color: $error;
}
// .c-form-error__msg02 {
// 	color: $error;
// 	border: 1px solid  $error;
// 	background-color: #2C0101;
// 	padding: 10px 10px 10px 40px;
// 	background-image:url(../img/contact/ico_error.png);
// 	background-position:10px 15px;
// 	background-repeat:no-repeat;
// 	max-width: 950px;
// 	margin: 0 auto 20px;
// }