<%
var absolutePath = filename.split('src\\')[filename.split('src\\').length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('\\').length -2]);
var pathData = {
  absolutePath: absolutePath,
  relativePath: relativePath
}; %><%- include(pathData.relativePath + '_inc/_header', {page:json['about']},{path: pathData}); %>

<div class="l-container l-contents l-flex--pc l-flex-between--pc">
	<div class="l-main">l-main</div>
	<aside class="l-side">l-side</aside>
</div>

<%- include(pathData.relativePath + '_inc/_footer',{path: pathData}); %>