<%
var absolutePath = filename.split('src\\')[filename.split('src\\').length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('\\').length -2]);
var pathData = {
  absolutePath: absolutePath,
  relativePath: relativePath
}; %><%- include(pathData.relativePath + '_inc/_header', {page:json['about']},{path: pathData}); %>

            <div class="l-contents">
                <div class="l-contents_inner">
                    <div class="l-main">
                        <article>
                            <p>text.</p>
                        </article>
                    </div>
                    <aside class="l-side"></aside>
                </div>
            </div>

<%- include(pathData.relativePath + '_inc/_footer',{path: pathData}); %>
