//colors
// ===============================================
.u-mainColor {
  background-color: $mainColor;
}
.u-subColor {
  background-color: $subColor;
}
.u-textColor {
  background-color: $textColor;
}
// .u-linkColor {
//   background-color: $linkColor;
// }
// .u-linkColor02 {
//   background-color: $linkColor02;
// }
.u-error {
  background-color: $error;
}
.u-bdrColor {
  background-color: $bdrColor;
}
.u-bgColor {
  background-color: $bgColor;
}
