// /* container */

@use '../foundation/setting' as s;
@use '../foundation/mixin' as m;

.l-container {
	// width: $contentWidthSP;
	margin: 0 auto;
	max-width: calc(#{s.$contentWidth} + 20px);
	// position: relative;
	padding: 0 3%;
	@include s.mq {
		padding: 0 10px;
	}
}
// .l-container__inner {
//   width: $contentWidth;
//   margin: 0 auto;
//   overflow: hidden;
// }
