/* flex layout */

@use 'foundation/setting' as s;
@use 'foundation/mixin' as m;

.l-flex {
	display: flex;
}

.l-flex-center {
	justify-content: center;
	align-items: center;
}

.l-flex-end {
	justify-content: flex-end;
}

.l-flex-between {
	justify-content: space-between;
}

@include s.mq {
	.l-flex--pc {
		display: flex;
	}

	.l-flex-center--pc {
		justify-content: center;
		align-items: center;
	}

	.l-flex-end--pc {
		justify-content: flex-end;
	}

	.l-flex-between--pc {
		justify-content: space-between;
	}
}
