// /* grid layout */

@use '../foundation/setting' as s;
@use '../foundation/mixin' as m;

[class$="--pc"] {
	width: 100%;
}

.l-egrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// &.demo {
	// 	& > * {
	// 		background-color: #000;
	// 		color: #fff;
	// 		margin-bottom: 10px;
	// 		padding: 10px;
	// 		text-align: center;

	// 		&[class*="--md"] {
	// 			background-color: blue;
	// 		}

	// 		&[class*="--lg"] {
	// 			background-color: red;
	// 		}

	// 		&[class*="--xl"] {
	// 			background-color: green;
	// 		}
	// 	}
	// }
}
.l-egrid--pc {
	@include s.mq {
		display: flex;
		flex-wrap: wrap;
	}
}
@mixin egrid($column-count, $column-margin, $name) {
	$margin-size: #{$column-margin * ($column-count - 1)};

	.l-egrid__col#{$column-count}#{$name} {
		width: calc((100% - #{$margin-size}) / #{$column-count});
	}
}

[class*="--lg"] .l-egrid__col1 {
	width: 100%;
}

@for $colnum from 2 through 4 {
	@include egrid($colnum, 20px, "");

	@include s.mq {
		//768px~
		@include egrid($colnum, 20px, --pc);
	}
}

.l-grid {
	display: flex;
	flex-wrap: wrap;
	// margin: 0 -10px;
	// > * {
	// 	padding: 10px;
	// }
	// &.demo {
	// 	&>* {
	// 		border: 1px solid #fff;
	// 		margin-bottom: 10px;
	// 		padding: 10px;
	// 		color: #fff;
	// 		text-align: center;

	// 		&[class*="--md"] {
	// 			background-color: blue;
	// 		}

	// 		&[class*="--lg"] {
	// 			background-color: red;
	// 		}

	// 		&[class*="--xl"] {
	// 			background-color: green;
	// 		}
	// 	}
	// }
}
.l-grid--pc {
	@include s.mq {
		display: flex;
		flex-wrap: wrap;
	}
}
.l-grid__col1 {
	width: 8.333333%;
}
.l-grid__col2 {
	width: 16.666667%;
}
.l-grid__col3 {
	width: 25%;
}
.l-grid__col4 {
	width: 33.333333%;
}
.l-grid__col5 {
	width: 41.666667%;
}
.l-grid__col6 {
	width: 50%;
}
.l-grid__col7 {
	width: 58.333333%;
}
.l-grid__col8 {
	width: 66.666667%;
}
.l-grid__col9 {
	width: 75%;
}
.l-grid__col10 {
	width: 83.333333%;
}
.l-grid__col11 {
	width: 91.666667%;
}
.l-grid__col12 {
	width: 100%;
}

@include s.mq {
	.l-grid__col1--pc {
		width: 8.333333%;
	}
	.l-grid__col2--pc {
		width: 16.666667%;
	}
	.l-grid__col3--pc {
		width: 25%;
	}
	.l-grid__col4--pc {
		width: 33.333333%;
	}
	.l-grid__col5--pc {
		width: 41.666667%;
	}
	.l-grid__col6--pc {
		width: 50%;
	}
	.l-grid__col7--pc {
		width: 58.333333%;
	}
	.l-grid__col8--pc {
		width: 66.666667%;
	}
	.l-grid__col9--pc {
		width: 75%;
	}
	.l-grid__col10--pc {
		width: 83.333333%;
	}
	.l-grid__col11--pc {
		width: 91.666667%;
	}
	.l-grid__col12--pc {
		width: 100%;
	}
}
