/* gnav */
.gnav {
  position: relative;
  background-color: $gnavBg;
}

.gnav__list {
  width: 100%;
  position: absolute;
  display: none;
  background-color: $gnavBg;
  z-index: 100;

  @include mq {
    display: flex;
    position: relative;
  }
}

.gnav__item {
  border-bottom: 1px solid #fff;

  @include mq {
    padding: 0;
    position: relative;
    flex: 1 1 auto;
    text-align: center;
    display: block;
    border: none;
  }

  &:hover {
    .gnav__sublist {
      @include mq {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.gnav__link {
  display: block;
  padding: 10px;

  @include mq {
    line-height: 60px;
    position: relative;

    &::after {
      transition: .5s;
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 8px;
      bottom: 0;
      left: 0;
    }

    &:hover {
      &::after {
        background-color: rgba($subColor, .6);
      }
    }
  }
}

.gnav__link--current {
  background-color: rgba(255, 255, 255, .5);

  @include mq {
    background-color: inherit;
  }

  &::after {
    background-color: rgba($subColor, .6);
  }
}

.gnav__sublist {
  @include mq {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
  }
}

.gnav__subitem {
  @include mq {
    line-height: 40px;
  }
}

.gnav__sublink {
  display: block;
  padding: 10px 10px 5px 20px;

  @include mq {
    padding: 0;
    background-color: $gnavSubBg;
    transition: .5s;
  }

  &:hover {
    @include mq {
      background-color: $subColor;
    }
  }
}
.gnav__sublink--current {
  background-color: rgba(255, 255, 255, .5);

  @include mq {
    background-color: $subColor;
  }
}