// /* list */
@use '../../foundation/setting' as s;
@use '../../foundation/mixin' as m;

.p-card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	// margin-bottom: 20px;
}
.p-card__item {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 5px;
	// margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	line-height: 1.5;
	@include s.mq {
		width: 32%;
		padding: 10px;
	}
	// @include s.mq {
	// 	&:hover {
	// 		background-color: #F9F9F9;
	// 	}
	// }
}
.p-card__status {
	position: absolute;
	top: 5px;
	left: -55px;
	width: 13em;
	padding: 2px 0;
	transform: rotate(-45deg);
	color: #fff;
	background-color: s.$subColor;
	@include m.rem(11);
	text-align: center;
	@include s.mq {
		top: 15px;
		left: -100px;
		padding: 5px 0;
		@include m.rem(20);
	}
}

.p-card__body {
	padding: 10px 0 20px;
	@include s.mq_lg {
		padding: 20px;
	}
}
.p-card__title {
	font-weight: bold;
	@include m.rem(14);
	margin-bottom: 5px;
	@include s.mq {
		@include m.rem(20);
		margin-bottom: 15px;
		// line-height: 1.5;
	}
}
.p-card__cat {
	color: #fff;
	width: 80px;
	height: 20px;
	margin: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	@include s.mq {
		width: 100px;
		height: 30px;
		margin: 10px 0;
	}
}
.p-card__cat--01 {
	background-color: s.$mainColor;
}
.p-card__cat--02 {
	background-color: s.$error;
}
.p-card__cat--03 {
	background-color: s.$subColor;
}
