<%
var absolutePath = filename.split('src\\')[filename.split('src\\').length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('\\').length -2]);
var pathData = {
  absolutePath: absolutePath,
  relativePath: relativePath
}; %><%- include(pathData.relativePath + '_inc/_header', {page:json['about-third']},{path: pathData}); %>

            <div class="main_visual">
                <div class="main_visual_inner">
                    <img src="http://placehold.it/980x520" height="520" width="980" alt="">
                </div>
            </div>

            <div class="contents">
                <div class="contents_inner">
                    <div class="main"></div>
                    <aside class="side"></aside>
                </div>
            </div>

<%- include(pathData.relativePath + '_inc/_footer',{path: pathData}); %>
