<footer class="l-footer">
	<a href="#" id="js-pagetop" class="p-footer__pagetop" style="display: block;"><img src="/assets/images/btn_pagetop.svg" alt="ページのトップへ"></a>
	<small class="p-footer__small">&copy; copyright</small>
</footer>
</body>

</html>