            <footer class="l-footer">
                <div class="l-footer_inner">
                    <small>copyright</small>
                </div>
            </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/assets/scripts/common.js"></script>
    </body>
</html>