        <footer class="l-footer">
          <a href="#" id="js-pagetop" class="l-footer__pagetop" style="display: block;"><img src="https://mitsumoto-bs.jp/wp-content/themes/mitsumoto/images/btn_pagetop.svg" alt="ページのトップへ"></a>
          <small class="l-footer__small">&copy; copyright</small>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/assets/scripts/common.js"></script>
    </body>
</html>