            <footer class="footer">
                <div class="footer_inner">
                    <small>copyright</small>
                </div>
            </footer>
        </div>
        <script src="/assets/scripts/jquery.js"></script>
        <script src="/assets/scripts/common.js"></script>
    </body>
</html>